header {
  margin-bottom: 64px;
  margin-left: 32px;
}
h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 12px 0;
}

#description {
  margin: 20px;
}

a {
  padding: 12px 48px;
  background-color: rgb(167, 1, 78);
  color: white;
  border: 1px solid rgb(167, 1, 78);
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 12px 0;
}

a:hover {
  text-decoration: none;
  background-color: rgb(180, 12, 90);
}

ol {
  width: 500px;
  list-style: none;
  margin: 32px auto 0 auto;
}

li {
  margin: 32px;
  padding: 16px;
  border-radius: 6px;
  background-color: rgb(223, 136, 124);
}

h2 {
  color: rgb(78, 13, 5);
  font-family: 'Oswald', sans-serif;
}

main p {
  margin: 12px;
  color: rgb(71, 29, 22);
}
.highlight-goal {
  background-color: rgb(224, 124, 111);
}
